.App {
  text-align: center;
  padding-top: 20px;
  
}
#k1{

  padding-left: 20px;
  padding-right: 20px;
}
.k2{
  padding-bottom: 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
